<section
  class="d-flex flex-column align-items-center justify-content-center pt-4 pb-3"
>
  <h1 class="text-center">my games app</h1>
  <p class="text-center">
    Una App en la que puedes encontrar tus videojuegos favoritos.
  </p>
  <form class="form-inline mt-4 justify-content-center ">
    <input
      class="form-control mr-sm-2"
      type="text"
      placeholder="Busca un videojuego"
      aria-label="Search"
    />
    <button class="btn mt-4 mt-sm-0" type="submit">
      Search
    </button>
  </form>
</section>
