<footer class="footer">
  <div class="container">
    <div class="d-flex flex-column align-items-center pt-4 pb-3">
      <a [routerLink]="['/latests']">
        <h1 class="m-0 text-center">my games app</h1>
      </a>
      <p class="m-0 text-center">
        Una app desarrollada con
        <a href="https://angular.io/" target="_blank">Angular</a> <br />
        en
        <a
          href="https://the-mean-stack-course.firebaseapp.com/home"
          target="_blank"
          >TMSC</a
        >
      </p>
      <ul class="d-flex p-0 m-0">
        <li class="ml-2 mr-2">
          <a
            href="https://github.com/OliverZulett/Contacts-App"
            target="_blank"
          >
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li class="ml-2 mr-2">
          <a href="https://www.facebook.com/oliver.zulett.3/" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="ml-2 mr-2">
          <a
            href="https://www.youtube.com/channel/UC0oM2dQuy1KKi1r4Y0zzOOA"
            target="_blank"
          >
            <i class="fa fa-youtube"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
